<div style="text-align:center">
  <h1>
    Angular Image Gallery Application
  </h1>

  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a image by id or title">


</div>
<br>
<br>

<div class="container">
  <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
       style="height: 600px; overflow-y: scroll;">
    <div class="gallery" *ngFor="let item of myPhotosList | filter:searchText"  style="margin-top: 10px;">
      <img  src="{{item.url}}" width="200" height="200"/>
      <div class="desc">{{item.id}} - {{item.title}}</div>
    </div>
  </div>
</div>

