<div style="text-align:center">
  <h1>
    Angular Image Gallery Application
  </h1>

  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a image by id or title">

  <button (click)="getData()">Fetch Data</button>
</div>
<div class="gallery" *ngFor="let image of data | filter:searchText">
  <a target="_blank" [href]="image.href">
    <img [src]="image.thumbnailUrl" width="200" height="200">
  </a>
  <div class="desc">{{image.id}} - {{image.title}}</div>
</div>
